In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('DisasterDeclarationsSummaries2.csv')
df2 = pd.read_csv('FEMA_Housing_Assistance_Owners2.csv')
df3 = pd.read_csv('FEMA_Housing_Assistance_Renters2.csv')

In [3]:
# df1 = df1.rename(columns ={"disasterNumber" : "Disaster"})

In [3]:
df1.columns

Index(['femaDeclarationString', 'disasterNumber', 'state', 'declarationType',
       'declarationDate', 'fyDeclared', 'incidentType', 'declarationTitle',
       'ihProgramDeclared', 'iaProgramDeclared', 'paProgramDeclared',
       'hmProgramDeclared', 'incidentBeginDate', 'incidentEndDate',
       'disasterCloseoutDate', 'fipsStateCode', 'fipsCountyCode', 'placeCode',
       'designatedArea', 'declarationRequestNumber', 'hash', 'lastRefresh',
       'address'],
      dtype='object')

In [4]:
df2.columns

Index(['Disaster', 'State', 'County', 'City', 'Zip Code',
       'Valid Registrations', 'Average FEMA Inspected Damage',
       'Total Inspected', 'Total Damage', 'No FEMA Inspected Damage',
       'FEMA Inspected Damage between $1 and $10,000',
       'FEMA Inspected Damage between $10,001 and $20,000',
       'FEMA Inspected Damage between $20,001 and $30,000',
       'FEMA Inspected Damage > $30,000', 'Approved for FEMA Assistance',
       'Total Approved IHP Amount', 'Repair/Replace Amount', 'Rental Amount',
       'Other Needs Amount', 'Approved between $1 and $10,000',
       'Approved between $10,001 and $25,000',
       'Approved between $25,001 and Max', 'Total Max Grants', 'address'],
      dtype='object')

In [5]:
df3.columns

Index(['Disaster', 'State', 'County', 'City', 'Zip Code',
       'Valid Registrations', 'Total Inspected', 'Inspected with No Damage',
       'Total with Moderate Damage', 'Total with Major Damage',
       'Total with Substantial Damage', 'Approved for FEMA Assistance',
       'Total Approved IHP Amount', 'Repair/Replace Amount', 'Rental Amount',
       'Other Needs Amount', 'Approved between $1 and $10,000',
       'Approved between $10,001 and $25,000',
       'Approved between $25,001 and Max', 'Total Max Grants', 'address'],
      dtype='object')

In [6]:
dfs = [df1,df2,df3]
all_data_df = pd.concat(dfs, axis = 1,join = 'outer',keys = 'address', ignore_index = True)
all_data_df.head()

,0,1,2,3,4,5,6,7,8,9,...,58,59,60,61,62,63,64,65,66,67
0,DR-1-GA,1,GA,DR,1953-05-02T04:00:00.000Z,1953,Tornado,TORNADO,0,1,...,4.0,"$11,231",$0,"$9,318","$1,913",4.0,0.0,0.0,0.0,"4116, IL, Lake (County)"
1,DR-100-MO,100,MO,DR,1960-04-20T05:00:00.000Z,1960,Flood,FLOODS,0,1,...,0.0,$0,$0,$0,$0,0.0,0.0,0.0,0.0,"4116, IL, Cook (County)"
2,DR-1000-KS,1000,KS,DR,1993-07-22T04:00:00.000Z,1993,Flood,SEVERE STORMS & FLOODING,0,1,...,1.0,$260,$0,$0,$260,1.0,0.0,0.0,0.0,"4116, IL, Cook (County)"
3,DR-1000-KS,1000,KS,DR,1993-07-22T04:00:00.000Z,1993,Flood,SEVERE STORMS & FLOODING,0,1,...,2.0,"$3,619",$0,"$1,932","$1,687",2.0,0.0,0.0,0.0,"4116, IL, Cook (County)"
4,DR-1000-KS,1000,KS,DR,1993-07-22T04:00:00.000Z,1993,Flood,SEVERE STORMS & FLOODING,0,1,...,1.0,"$2,590",$0,"$1,932",$658,1.0,0.0,0.0,0.0,"4116, IL, Cook (County)"

In [7]:
all_data_df.fillna(value = '0')

,0,1,2,3,4,5,6,7,8,9,...,58,59,60,61,62,63,64,65,66,67
0,DR-1-GA,1,GA,DR,1953-05-02T04:00:00.000Z,1953,Tornado,TORNADO,0,1,...,4,"$11,231",$0,"$9,318","$1,913",4,0,0,0,"4116, IL, Lake (County)"
1,DR-100-MO,100,MO,DR,1960-04-20T05:00:00.000Z,1960,Flood,FLOODS,0,1,...,0,$0,$0,$0,$0,0,0,0,0,"4116, IL, Cook (County)"
2,DR-1000-KS,1000,KS,DR,1993-07-22T04:00:00.000Z,1993,Flood,SEVERE STORMS & FLOODING,0,1,...,1,$260,$0,$0,$260,1,0,0,0,"4116, IL, Cook (County)"
3,DR-1000-KS,1000,KS,DR,1993-07-22T04:00:00.000Z,1993,Flood,SEVERE STORMS & FLOODING,0,1,...,2,"$3,619",$0,"$1,932","$1,687",2,0,0,0,"4116, IL, Cook (County)"
4,DR-1000-KS,1000,KS,DR,1993-07-22T04:00:00.000Z,1993,Flood,SEVERE STORMS & FLOODING,0,1,...,1,"$2,590",$0,"$1,932",$658,1,0,0,0,"4116, IL, Cook (County)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51108,DR-999-SD,999,SD,DR,1993-07-19T04:00:00.000Z,1993,Severe Storm(s),"SEVERE STORMS, TORNADOES & FLOODING",0,1,...,0,0,0,0,0,0,0,0,0,0
51109,DR-999-SD,999,SD,DR,1993-07-19T04:00:00.000Z,1993,Severe Storm(s),"SEVERE STORMS, TORNADOES & FLOODING",0,1,...,0,0,0,0,0,0,0,0,0,0
51110,DR-999-SD,999,SD,DR,1993-07-19T04:00:00.000Z,1993,Severe Storm(s),"SEVERE STORMS, TORNADOES & FLOODING",0,1,...,0,0,0,0,0,0,0,0,0,0
51111,DR-999-SD,999,SD,DR,1993-07-19T04:00:00.000Z,1993,Severe Storm(s),"SEVERE STORMS, TORNADOES & FLOODING",0,1,...,0,0,0,0,0,0,0,0,0,0
51112,DR-999-SD,999,SD,DR,1993-07-19T04:00:00.000Z,1993,Severe Storm(s),"SEVERE STORMS, TORNADOES & FLOODING",0,1,...,0,0,0,0,0,0,0,0,0,0

In [11]:
all_data_df = all_data_df.to_csv('All_Housing_Data',index = False)